# Dependências
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
build/

# Sistema
.DS_Store
Thumbs.db

# Variáveis de ambiente
.env

# Logs
logs
*.log

# Cache
.cache/
# arquivos locais
pendentes.json
token.txt
# Token do bot
bot/token.txt
